# Node.js
**/node_modules/

# Next.js
/client/.next/
/client/out/
/client/build/

# Nest.js
/server/dist/
/server/nest-cli.json

# IDE and Editors
.idea/
.vscode/

# OS
.DS_Store

# Configuration files
**/.env
**/.env.local
**/.env.development
**/.env.production

# typescript
*.tsbuildinfo
next-env.d.ts

# Other
.prettierrc
todos.txt
**/*.example
**/*.example.*
/backend/db_seeder

