# Node.js
**/node_modules/

# Next.js
/frontend/.next/
/frontend/out/

# Nest.js
/backend/dist/
/backend/nest-cli.json

# IDE and Editors
.idea/
.vscode/

# OS
.DS_Store

# Configuration files
**/.env
**/.env.local
**/.env.development
**/.env.production

# Other
.prettierrc


