{
  "tabWidth": 2,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "singleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "semi": true,
  "trailingComma": "es5",
  "useTabs": false,
  "bracketSameLine": true,
  "singleAttributePerLine": false,
  "quoteProps": "consistent",
  "printWidth": 80
}
