.arrow {
	@apply transition;
}

.open {
	@apply rotate-90;
}
.infoButton {
	@apply hidden;
}

.inputContainer {
	container-type: inline-size;

	@container (max-width: 748px) {
		.infoButton {
			display: block;
			@apply block;
		}

		.manageButtons {
			display: none;
			@apply hidden;
		}
	}
}
