*,
*::before,
*::after {
	box-sizing: border-box;
	position: relative;
	padding: 0;
	margin: 0;
}

body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
}

ul,
ol {
	list-style: none;
}

a,
a:active,
a:hover {
	text-decoration: none;
	color: #000;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

input,
button,
textarea,
select,
span {
	font: inherit;
	color: inherit;
}

textarea {
	resize: none;
}

img {
	max-width: 100%;
	display: block;
	object-fit: cover;
}

select {
	appearance: none;

	&::-ms-expand {
		display: none;
	}
}

input,
textarea {
	background: transparent;
	border-width: 0;
	outline: none;
	height: 100%;
	width: 100%;

	&::-webkit-calendar-picker-indicator {
		display: none;
	}
}

input[type="search"] {
	&::-webkit-search-cancel-button,
	&::-ms-clear {
		display: none;
	}
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

button {
	background: transparent;
}

table,
th,
td {
	border-spacing: 1;
	border-collapse: collapse;
}

label,
select,
button,
a,
[class*="btn"] {
	cursor: pointer;
}

.non-scroll {
	touch-action: none;
	-ms-touch-action: none;
	overflow: hidden;
	height: 100%;
}

.non-scroll-bar {
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
}
